%h1 welcome



%div.row
  %div.col-md-4
    .list-group-item
      .text-center.purple
        box left
        %p 
        nooooo
        %p
        yes
  %div.col-md-4
    .list-group-item
      .text-center
        box middle
        %p 
        nooooo
        %p
        yes
  %div.col-md-4
    .list-group-item
      .text-center
        box right
        %p 
        nooooo
        %p
        yes
%div.row2
  %div.col-md-4
    .list-group-item
      .text-center
        box left
        %p 
        nooooo
        %p
        yes
  %div.col-md-4
    .list-group-item
      .text-center
        box middle
        %p 
        nooooo
        %p
        yes
  %div.col-md-4
    .list-group-item
      .text-center
        box right
        %p 
        nooooo
        %p
        yes
