
.styleButton, button {
  background-color: #9bb0de;
  border: 3px solid #2d4a87;
  font-size: 1.5em;
  font-family: "comic sans";
  font-variant: small-caps;
  color: #2d4a87;
  border-radius: 10px;
  transition: background-color 300ms linear, color 300ms linear, border 300ms linear;
  padding: 0.2em 1em;
  font-family: "comic sans";
   }

button:hover {
  background-color: #2d4a87;
  color: #2d4a87;
  border: 2px solid white;
  cursor: pointer;
  font-family: "comic sans";
  font-variant: small-caps;
   }
a.stylebutton {
  background-color: #ffffff;
  color: #dc143c;
  border: 1.5px solid white;
  cursor: pointer;
  font-family: "arial";
  font-variant: small-caps;
  
}
div.hospital_list {
  text-align: center;
  width: 270px;
  height: 150px;
  display: inline-block;
  background-color: #f5f5f5;
  background-size: cover; 
}
.imgOut {
  padding-top: 1.5em;
  padding-left: 1.0em;
  padding-right: 1.0em; 
  width: 300px;
  height: 200px;
  display: inline-block;
  box-sizing: border-box;
  box-shadow: 0 0 1em grey;
  transition: transform 300ms linear; }

.imgOut:hover {
  transform: scale(1.05, 1.05);
  cursor: pointer; }
.input-group {
  width: 300px;
  text-align: right;
  }
div.search {
  text-align: right;
  height: 55px;
}

.list-group-item.workflow {
  color: #4c5d6a;
}

.list-group-item.doctors {
 
  outline-color: #748a9d;
   
}
.list-group-item.workflow {
  
  background-color: #f1f3f4;
  box-shadow: 10px 10px 5px #748a9d;
}